# Apple
.DS_Store

# venv
bin/
etc/
lib/
share/
pyvenv.cfg

# VSCode
.vscode/
*.code-workspace
.idea/

# environnement variables
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# mkdocs documentation
/site/
/examples/catboost_info/
