# Apple
.DS_Store

# venv
bin/
etc/
share/
pyvenv.cfg

# VSCode
.code-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# mkdocs documentation
/site