ipykernel
ipython
ipyvuetify
ipywidgets
jupyterlab
jupyterlab-widgets
lime
mvlearn
numba
numpy==1.23.0
pacmap
pandas
plotly
pre-commit
scikit-learn
shap
umap-learn
git+https://github.com/scikit-learn-contrib/skope-rules.git
